main p {
    text-align: justify;
}

footer {
    text-align: center;
    background-color: gray;
    color: white;
    margin-top: 150px;
    height: 300px;
    padding-top: 100px;
}

.tituloRojo {
    color: red;
}